$ng2-table-border-color: #f0f0f0 !default;
$ng2-table-cell-padding: 2px !default;

.ng2-table {
  &__table {
    border-spacing: 0;
    width: 100%;

    td, th {
      border: 1px solid $ng2-table-border-color;
      margin: 0;
      padding: $ng2-table-cell-padding;
    }

    th {
      font-weight: 700;
    }
  }

  &__pagination,
  &__items-per-page {
    li {
      display: inline-block;
    }
  }

  &__input {
    border: 0;
    font-size: .9em;
    padding: $ng2-table-cell-padding;
    width: 100%;
  }
}

.ng2-table-demo {
  @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700);

  * {
    font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  }
}