language: node_js
node_js:
  - "8"
script:
  - npm run lint
  - npm run build
  - npm run cy:ci
  - npm run build:lib
before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
before_script:
  - npm install
notifications:
  webhooks: https://www.travisbuddy.com/
  email: false
sudo: required
addons:
  chrome: stable
