<div class="ngx-columns">
  <div class="ngx-col-mr-auto pagination-mobile">
    <pagination-controls
      [maxSize]="5"
      [previousLabel]="''"
      [nextLabel]="''"
      (pageChange)="onPageChange($event)">
    </pagination-controls>
  </div>
  <div class="pagination-mobile">
    <ul class="ngx-pagination ngx-float-right" id="rowAmount">
      <li [class.ngx-active]="isActiveLimit(limit)"
          class="ngx-page-item ngx-c-hand"
          (click)="changeLimit($event, limit)"
          *ngFor="let limit of ranges">
        <a href="#">{{limit}}</a>
      </li>
    </ul>
  </div>
</div>
