<div class="ngx__pagination">
  <pagination-controls
    id="pagination-controls"
    [id]="id"
    [maxSize]="5"
    [previousLabel]="''"
    [nextLabel]="''"
    (pageChange)="onPageChange($event)">
  </pagination-controls>
</div>
<div class="ngx__pagination-range" *ngIf="config.paginationRangeEnabled">
  <div class="ngx-dropdown ngx__pagination-range-dropdown"
       [class.ngx-active]="showRange"
       id="rowAmount">
    <div class="ngx-btn-group">
      <div class="ngx__pagination-range-dropdown-button"
           (click)="showRange = !showRange">
        {{limit}} <i class="ngx-icon ngx-icon-arrow-down"></i>
      </div>
      <ul class="ngx-menu">
        <li class="ngx__pagination-range-dropdown-button-item"
            (click)="changeLimit(limit)"
            *ngFor="let limit of ranges">
          <span>{{limit}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
