<ul class="ng2-table__pagination">
    <li [class.disabled]="isFirstPage()">
        <a href="#" (click)="previousPage()">«</a>
    </li>

    <li *ngFor="#page of pageNumbers" [class.active]="isActivePage(page)">
        <a href="#" (click)="changePage(page)">{{page}}</a>
    </li>

    <li [class.disabled]="isLastPage()">
        <a href="#" (click)="nextPage()">»</a>
    </li>
</ul>

<ul class="ng2-table__items-per-page">
    <li [class.active]="isActiveRange(5)"><a href="#" (click)="changeRange(5)"  class="btn btn-default">5</a></li>
    <li [class.active]="isActiveRange(10)"><a href="#" (click)="changeRange(10)" class="btn btn-default">10</a></li>
    <li [class.active]="isActiveRange(25)"><a href="#" (click)="changeRange(25)" class="btn btn-default">25</a></li>
    <li [class.active]="isActiveRange(50)"><a href="#" (click)="changeRange(50)" class="btn btn-default">50</a></li>
    <li [class.active]="isActiveRange(100)"><a href="#" (click)="changeRange(100)" class="btn btn-default">100</a></li>
</ul>