<ul class="ng2-table__pagination">
    <li [class.disabled]="isFirstPage()">
        <a href="#" (click)="previousPage()">«</a>
    </li>

    <li *ngFor="#page of pageNumbers" [class.active]="isActivePage(page)">
        <a href="#" (click)="changePage(page)">{{page}}</a>
    </li>

    <li [class.disabled]="isLastPage()">
        <a href="#" (click)="nextPage()">»</a>
    </li>
</ul>

<ul class="ng2-table__items-per-page">
    <li><a href="#" (click)="changeRange(5)" [class.active]="isActiveRange(5)" class="btn btn-default">5</a></li>
    <li><a href="#" (click)="changeRange(1)" [class.active]="isActiveRange(1)" class="btn btn-default">1</a></li>
    <li><a href="#" (click)="changeRange(25)" [class.active]="isActiveRange(25)" class="btn btn-default">25</a></li>
    <li><a href="#" (click)="changeRange(50)" [class.active]="isActiveRange(50)" class="btn btn-default">50</a></li>
    <li><a href="#" (click)="changeRange(100)" [class.active]="isActiveRange(100)" class="btn btn-default">100</a></li>
</ul>