@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dt9v9m');
  src:  url('fonts/icomoon.eot?dt9v9m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dt9v9m') format('truetype'),
    url('fonts/icomoon.woff?dt9v9m') format('woff'),
    url('fonts/icomoon.svg?dt9v9m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-sort-alpha-asc:before {
  font-size: 11px;
  content: "\ea48";
}
.icon-sort-alpha-desc:before {
  font-size: 11px;
  content: "\ea49";
}
.icon-filter:before {
  content: "\ea5b";
}
.icon-flickr2:before {
  content: "\eaa4";
}
