<small>Click <i class="icon icon-arrow-right"></i> arrow on the right table side</small><br><br>
<div class="columns">
  <div class="column col-12">
    <ngx-table
      [configuration]="configuration"
      [data]="data"
      (event)="eventEmitted($event)"
      [columns]="columns"
      [detailsTemplate]="detailsTemplateRef">
    </ngx-table>
  </div>
</div>
<ng-template #detailsTemplate let-row>
  <div>
    <h2 class="color-green">{{row.phone }}</h2>
    {{row.name }} - {{row.age}}
  </div>
</ng-template>
