<h3>Export to CSV</h3>
<small>Click <span class="ion-navicon"></span> on the right table side to enable menu</small> <br>
<small>This is build in CSV export, however it will be deprecated in v5.0. See <a href="https://stackblitz.com/github/ssuperczynski/ngx-easy-table?file=app%2Fcomponents%2Fexports%2Fexports.component.ts" target="_blank">here</a> for custom solutions, which give you much more flexibility.</small>
<div class="columns">
  <div class="column col-12">
    <ngx-table
      [configuration]="configuration"
      [data]="data"
      [columns]="columns">
    </ngx-table>
  </div>
</div>
