<h3>Dynamic row</h3>
<div class="mb-2">
  <a class="btn" href="https://stackblitz.com/github/ssuperczynski/ngx-easy-table?file=app%2Fcomponents%2Fdynamic-row%2Fdynamic-row.component.ts" target="_blank">
    See code here
  </a>
</div>
<div class="columns">
	<div class="column col-12">
		<button (click)=addRow() id="add-row-button" class="btn btn-primary">Add row</button>
	</div>
</div>
<div class="columns">
	<div class="column col-12">
		<ngx-table [configuration]="configuration" [data]="data" [columns]="columns">
		</ngx-table>
	</div>
</div>
