<h3>Export to different formats</h3>
<div class="mb-2">
	<a class="btn" href="https://stackblitz.com/github/ssuperczynski/ngx-easy-table?file=app%2Fcomponents%2Fexports%2Fexports.component.ts" target="_blank">
		See code here
	</a>
</div>
<div class="mb-2">
	<button class="btn btn-primary" (click)="exportToExcel()">Excel export</button>
  <button class="btn btn-primary" (click)="exportToText()">Text export</button>
  <button class="btn btn-primary" (click)="exportToCSV()">CSV export</button>
</div>
<div class="columns">
	<div class="column col-12">
		<ngx-table [configuration]="configuration" [data]="data" [columns]="columns">
		</ngx-table>
	</div>
</div>
