<table class="table table-condensed table-bordered">
    <thead>
    <tr>
        <th *ngFor="#key of keys">{{ key }}</th>
        <th>Actions</th>
    </tr>
    <tr>
        <th *ngFor="#key of keys">
            <header (update)="term = $event" [key]="key"></header>
        </th>
        <th></th>
    </tr>
    </thead>
    <tr *ngFor="#row of Resource | search : term ">
        <td *ngFor="#key of keys">
            {{ row[key] }}
        </td>
        <td><button class="btn btn-danger btn-raised">Edit</button></td>
    </tr>
</table>
