<div class="row">
    <div class="col-sm-3">
        <global-search
                *ngIf="config.globalSearchEnabled"
                (globalUpdate)="globalSearchTerm = $event">
        </global-search>
    </div>
    <div class="col-sm-2 pull-right">
        <csv-export></csv-export>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-condensed table-bordered table-hover">
            <thead>
            <tr>
                <th [style.display]="config.orderEnabled?'':'none' "
                    *ngFor="#key of keys"
                    (click)="orderBy(key)"
                    class="sort-pointer">
                    {{ key }}
                    <span *ngIf="resource.order[key]==='asc' " class="fa fa-chevron-down pull-right"></span>
                    <span *ngIf="resource.order[key]==='desc' " class="fa fa-chevron-up pull-right"></span>
                </th>
                <th [style.display]="!config.orderEnabled?'':'none' "
                    *ngFor="#key of keys">
                    {{ key }}
                </th>
                <th>Actions</th>
            </tr>
            <tr *ngIf="config.searchEnabled">
                <th *ngFor="#key of keys">
                    <table-header (update)="term = $event" [key]="key"></table-header>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="#row of data | search : term | global : globalSearchTerm | pagination : range">
                <td *ngFor="#key of keys">
                    {{ row[key] }}
                </td>
                <td>
                    <button class="btn btn-danger btn-raised">Edit</button>
                </td>
            </tr>
            </tbody>
            <tfoot *ngIf="config.footerEnabled">
            <tr>
                <td *ngFor="#key of keys"></td>
                <td></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <pagination [numberOfItems]="numberOfItems" (updateRange)="range = $event"></pagination>
    </div>
</div>
