:host /deep/ ngx-table > div > div:nth-child(2) > table {
  width: 75vw;
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
}

:host /deep/ ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 3px;
  height: 12px;
}

:host /deep/ ::-webkit-scrollbar-thumb {
  background-color: grey;
}
