<div class="ngx-container">
  <div class="ngx-columns">
    <div class="ngx-column ngx-col-4 ngx-col-mr-auto"></div>
    <div class="ngx-column ngx-col-3">
      <global-search
        *ngIf="config.globalSearchEnabled"
        (globalUpdate)="onGlobalSearch($event)">
      </global-search>
    </div>
  </div>
  <div class="ngx-columns">
    <table class="ngx-table ngx-table-striped ngx-table-hover">
      <thead>
      <tr class="ngx-table__header" *ngIf="config.headerEnabled">
        <ng-container *ngFor="let key of columns">
          <th class="ngx-table__header-cell"
              (click)="orderBy(key)">
            <div class="ngx-d-inline">{{ key }}</div>
            <span *ngIf="resource.order[key]==='asc' "
                  [style.display]="config.orderEnabled?'':'none' "
                  class="ngx-icon ngx-icon-arrow-up">
            </span>
            <span *ngIf="resource.order[key]==='desc' "
                  [style.display]="config.orderEnabled?'':'none' "
                  class="ngx-icon ngx-icon-arrow-down">
            </span>
          </th>
        </ng-container>
      </tr>
      <tr *ngIf="config.searchEnabled"
          class="ngx-table__sortHeader">
        <ng-container *ngFor="let key of columns">
          <th>
            <table-header (update)="onSearch($event)" [key]="key"></table-header>
          </th>
        </ng-container>
      </tr>
      </thead>
      <tbody *ngIf="data && !config.isLoading">
      <ng-container *ngIf="tpl">
        <tr *ngFor="let row of data | search : term | global : globalSearchTerm | pagination : paginationPipe;
              let rowIndex = index"
            [class.ngx-table__table-row--selected]="rowIndex == selectedRow && !config.selectCell">
          <ng-container [ngTemplateOutlet]="tpl"
                        [ngTemplateOutletContext]="{ $implicit: row }">
          </ng-container>
        </tr>
      </ng-container>
      <ng-container *ngIf="!tpl">
        <tr *ngFor="let row of data | search : term | global : globalSearchTerm | pagination : paginationPipe;
              let rowIndex = index"
            [class.ngx-table__table-row--selected]="rowIndex == selectedRow && !config.selectCell">
          <ng-container *ngFor="let key of columns; let colIndex = index">
            <td (click)="clickedCell($event, row, key, colIndex, rowIndex)"
                [class.ngx-table__table-col--selected]="colIndex == selectedCol && !config.selectCell"
                [class.ngx-table__table-cell--selected]="colIndex == selectedCol && rowIndex == selectedRow && !config.selectCol && !config.selectRow"
            >
              <div>{{ row[key] }}</div>
            </td>
          </ng-container>
        </tr>
      </ng-container>
      </tbody>
      <tbody *ngIf="!data">
      <tr class="ngx-table__body-empty">
        <td>No results</td>
      </tr>
      </tbody>
      <tbody *ngIf="config.isLoading">
      <tr class="ngx-table__body-loading">
        <td>
          <div class="ngx-table__table-loader"></div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <pagination
    *ngIf="config.paginationEnabled"
    [pagination]="pagination"
    (updateRange)="onPagination($event)">
  </pagination>
</div>
