* {
  font-family: Verdana, serif;
}

.ngx-table__table-row--selected {
  background: #9cbff9 !important;
}

.ngx-table__table-col--selected {
  background: #9cbff9 !important;
}

.ngx-table__table-cell--selected {
  background: #9cbff9 !important;
}
