* {
  font-family: Lato, sans-serif;
}
.input__inline {
  display: block;
}
.menu {
  overflow-y: scroll;
  max-height: 600px;
}
.menu-scroll {
  max-height: 500px;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
