<div class="docs-container off-canvas off-canvas-sidebar-show">
  <div class="docs-navbar">
    <a class="off-canvas-toggle btn btn-link btn-action" (click)="showMenu = !showMenu">
      <i class="icon icon-menu"></i>
    </a>
  </div>

  <div id="sidebar" class="docs-sidebar off-canvas-sidebar" [class.active]="showMenu">
    <a href="https://github.com/ssuperczynski/ngx-easy-table" target="_blank" class="btn btn-primary">GitHub</a>
    <div class="docs-nav">
      <div class="accordion-container">
        <div class="accordion">
          <input type="checkbox" title="Basic" id="docs-accordion-0" name="docs-accordion-checkbox" hidden checked>
          <div class="accordion-body">
            <ul class="menu menu-nav">
              <li class="divider" data-content="Basic"></li>
              <li class="menu-item" *ngFor="let row of basic">
                <a href="#" [routerLink]="[row.link]">
                  <i class="icon icon-link"></i> {{row.name}}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="accordion">
          <input type="checkbox" title="Templates" id="docs-accordion-1" name="docs-accordion-checkbox" hidden checked>
          <div class="accordion-body">
            <ul class="menu menu-nav">
              <li class="divider" data-content="Templates"></li>
              <li class="menu-item" *ngFor="let row of templates">
                <a href="#" [routerLink]="[row.link]">
                  <i class="icon icon-link"></i> {{row.name}}
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="accordion">
          <input type="checkbox" title="Select" id="docs-accordion-2" name="docs-accordion-checkbox" hidden checked>
          <div class="accordion-body">
            <ul class="menu menu-nav">
              <li class="divider" data-content="Select"></li>
              <li class="menu-item" *ngFor="let row of select">
                <a href="#" [routerLink]="[row.link]">
                  <i class="icon icon-link"></i> {{row.name}}
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="accordion">
          <input type="checkbox" title="Filters" id="docs-accordion-3" name="docs-accordion-checkbox" hidden checked>
          <div class="accordion-body">
            <ul class="menu menu-nav">
              <li class="divider" data-content="Filters"></li>
              <li class="menu-item" *ngFor="let row of filters">
                <a href="#" [routerLink]="[row.link]">
                  <i class="icon icon-link"></i> {{row.name}}
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="accordion">
          <input type="checkbox" title="Sort" id="docs-accordion-4" name="docs-accordion-checkbox" hidden checked>
          <div class="accordion-body">
            <ul class="menu menu-nav">
              <li class="divider" data-content="Sort"></li>
              <li class="menu-item" *ngFor="let row of sort">
                <a href="#" [routerLink]="[row.link]">
                  <i class="icon icon-link"></i> {{row.name}}
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <a class="off-canvas-overlay btn btn-link btn-action" (click)="showMenu = !showMenu">
    <i class="icon icon-cross icon-2x float-right"></i>
  </a>

  <div id="content" class="docs-content off-canvas-content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
