@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

* {
  font-family: Verdana, serif;
}

.table td, .table th {
  border-bottom: .05rem solid #e7e9ed;
  padding: .2rem .3rem;
}

.ng2-table__table-row--selected {
  background: #9cbff9 !important;
}

.ng2-table__table-col--selected {
  background: #9cbff9 !important;
}

.ng2-table__table-cell--selected {
  background: #9cbff9 !important;
}

.ng2-table__table-menu {
  top: 80% !important;
  left: -150px !important;
}

.ng2-table__table-menu li {
  font-weight: 100;
  margin-top: 0;
  text-align: left;
}

