<global-search
  *ngIf="config.globalSearchEnabled"
  (globalUpdate)="globalSearchTerm = $event">
</global-search>
<csv-export *ngIf="config.exportEnabled"></csv-export>

<table class="ng2-table__table--striped">
  <thead>
  <tr>
    <th [style.display]="config.orderEnabled?'':'none' "
        *ngFor="let key of keys"
        (click)="orderBy(key)">
      {{ key }}
      <span *ngIf="resource.order[key]==='asc' "
            class="ng2-table__sort-indicator ng2-table__sort-indicator--down"></span>
      <span *ngIf="resource.order[key]==='desc' "
            class="ng2-table__sort-indicator ng2-table__sort-indicator--up"></span>
    </th>
    <th [style.display]="!config.orderEnabled?'':'none' "
        *ngFor="let key of keys">
      {{ key }}
    </th>
    <th *ngIf="config.editEnabled">Actions</th>
  </tr>
  <tr *ngIf="config.searchEnabled">
    <th *ngFor="let key of keys">
      <table-header (update)="term = $event" [key]="key"></table-header>
    </th>
    <th *ngIf="config.editEnabled"></th>
  </tr>
  </thead>
  <tbody *ngIf="data">
  <tr *ngFor="let row of data | search : term | global : globalSearchTerm | pagination : range;
              let rowIndex = index"
      [class.ng2-table__table-row--selected]="rowIndex == selectedRow && !config.selectCell">
    <td *ngFor="let key of keys; let colIndex = index"
        (click)="clickedCell($event, row, key, colIndex, rowIndex)"
        [class.ng2-table__table-col--selected]="colIndex == selectedCol && !config.selectCell"
        [class.ng2-table__table-cell--selected]="colIndex == selectedCol && rowIndex == selectedRow && !config.selectCol && !config.selectRow"
    >
      <div>{{ row[key] }}</div>
    </td>
    <td *ngIf="config.editEnabled">
      <button class="ng2-table__button">Edit</button>
    </td>
  </tr>
  </tbody>
  <tbody *ngIf="!data">
  <tr><td>No results</td></tr>
  </tbody>
  <tfoot *ngIf="config.footerEnabled">
  <tr>
    <td *ngFor="let key of keys"></td>
    <td></td>
  </tr>
  </tfoot>
</table>

<pagination
  *ngIf="config.paginationEnabled"
  [numberOfItems]="numberOfItems"
  (updateRange)="range = $event">
</pagination>
