* {
  font-family: Lato, sans-serif;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.off-canvas .off-canvas-sidebar {
  width: 12rem
}

.off-canvas .off-canvas-content {
  padding: 0
}

.docs-container {
  min-height: 100vh
}

.docs-navbar {
  height: 3.8rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100
}


.docs-sidebar .docs-nav {
  bottom: 1.5rem;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  position: fixed;
  top: 2.5rem;
  width: 12rem
}

.docs-sidebar .accordion input ~ .accordion-header {
  color: #455060;
  font-size: .65rem;
  font-weight: 600;
  text-transform: uppercase
}

.docs-sidebar .accordion input:checked ~ .accordion-header {
  color: #505c6e
}

.docs-sidebar .accordion .menu .menu-item {
  font-size: .7rem;
  padding-left: 1rem
}

.docs-sidebar .accordion .menu .menu-item > a {
  background: 0 0;
  color: #66758c;
  display: inline-block
}

.docs-content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 4rem;
  width: calc(100vw - 12rem)
}

.docs-content > .container {
  margin-left: 0;
  max-width: 800px;
  padding-bottom: 1.5rem
}

.docs-content .column {
  padding: .4rem
}

.docs-content .off-canvas {
  position: relative
}

.off-canvas-display {
  display: none;
}

@media (max-width: 960px) {
  .off-canvas-display {
    display: block;
  }
  .off-canvas .off-canvas-content {
    width: 100%
  }
  .docs-sidebar .docs-nav {
    margin-top: 1rem;
    position: static
  }
  .docs-sidebar .menu .menu-item > a {
    padding: .3rem .4rem
  }
  .docs-content {
    min-width: auto;
    padding: 0 1.5rem;
    width: 100%
  }
}

@media (max-width: 600px) {
  .docs-sidebar .docs-nav {
    padding: .5rem 1rem
  }
  .docs-content {
    padding: 0 .5rem
  }
}
