* {
  font-family: Verdana, serif;
}

.ngx-table__table-row--selected {
  background: #9cbff9 !important;
}

.ngx-table__table-col--selected {
  background: #9cbff9 !important;
}

.ngx-table__table-cell--selected {
  background: #9cbff9 !important;
}

.ngx-table__table-menu li {
  font-weight: 100;
  margin-top: 0;
  text-align: left;
}
