.ng2-table__pagination, .ng2-table__items-per-page {
  display: inline-block;
  float: left;
  list-style-type: none;
  margin: 8px 0;
  padding: 0;
}
.ng2-table__pagination li, .ng2-table__items-per-page li {
  border: 1px solid #f0f0f0;
  float: left;
  margin: 0;
  padding: 6px;
}
.ng2-table__pagination a, .ng2-table__items-per-page a {
  color: inherit;
  text-decoration: none;
}
.ng2-table__pagination .active, .ng2-table__items-per-page .active {
  background: #2196f3;
  border-color: #0c7cd5;
  color: #fff;
}

.ng2-table__items-per-page {
  float: right;
}
.ng2-table__pagination-wrapper::after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
}
