<div class="jumbotron">
  <h1 class="display-4">Ngx-easy-table</h1>
  <h5 class="lead">The easiest Angular Table</h5>
</div>
<div class="mb-2">
  <a class="btn"
     rel="noreferrer"
     href="https://github.com/ssuperczynski/ngx-easy-table/tree/master/src/app/demo/basic/basic.component.ts"
     target="_blank">
    See demo code here
  </a>
  <a class="btn m-2"
     rel="noreferrer"
     href="https://github.com/ssuperczynski/ngx-easy-table/wiki"
     target="_blank">
    Full configuration
  </a>
</div>
<div class="divider"></div>
<div class="columns">
  <div class="column col-12">
    <ngx-table [data]="data" [configuration]="configuration" [columns]="columns">
    </ngx-table>
  </div>
</div>
