<h3>Server pagination </h3>
<div class="mb-2">
  <a class="btn" href="https://stackblitz.com/github/ssuperczynski/ngx-easy-table?file=app%2Fcomponents%2Fserver-pagination%2Fserver-pagination.component.ts" target="_blank">
    See code here
  </a>
</div>
<div class="columns">
  <div class="column col-12">
    <ngx-table
      [configuration]="configuration"
      [data]="data"
      [columns]="columns"
      [pagination]="pagination"
      (event)="eventEmitted($event)"
      >
    </ngx-table>
  </div>
</div>
