<div class="ngx-container">
  <div class="ngx-global-search">
    <global-search
      *ngIf="config.globalSearchEnabled"
      (globalUpdate)="onGlobalSearch($event)">
    </global-search>
  </div>
  <table id="table"
         class="ngx-table"
    [class.ngx-table__table--tiny]="config.tableLayout.style === 'tiny'"
    [class.ngx-table__table--normal]="config.tableLayout.style === 'normal'"
    [class.ngx-table__table--big]="config.tableLayout.style === 'big'"
    [class.ngx-table__table--borderless]="config.tableLayout.borderless"
    [class.ngx-table__table--dark]="config.tableLayout.theme === 'dark'"
    [class.ngx-table__table--hoverable]="config.tableLayout.hover"
    [class.ngx-table__table--striped]="config.tableLayout.striped"
    [class.ngx-table__horizontal-scroll]="config.horizontalScroll && !isLoading">
    <thead>
    <tr class="ngx-table__header" *ngIf="config.headerEnabled">
      <th *ngIf="config.checkboxes" width="3%">
        <label class="ngx-form-checkbox">
          <input type="checkbox" (change)="onSelectAll()">
          <i class="ngx-form-icon" id="selectAllCheckbox"></i>
        </label>
      </th>
      <ng-container *ngFor="let column of columns;let colIndex = index">
        <th class="ngx-table__header-cell"
          #th
          [attr.width]="getColumnWidth(column)"
          (mousedown)="onMouseDown($event, th)"
          (mouseup)="onMouseUp($event)"
          (mousemove)="onMouseMove($event)">
          <div (click)="orderBy(column)">
            <div class="ngx-table__header-title">{{ column['title'] }}<span>&nbsp;</span>
              <i *ngIf="sortByIcon.key === column['key'] && sortByIcon.order==='asc'"
                [style.display]="config.orderEnabled?'':'none' "
                class="ngx-icon ngx-icon-arrow-up">
              </i>
              <i *ngIf="sortByIcon.key === column['key'] && sortByIcon.order==='desc'"
                [style.display]="config.orderEnabled?'':'none' "
                class="ngx-icon ngx-icon-arrow-down">
              </i>
            </div>
          </div>
          <div class="ngx-table__column-resizer" *ngIf="config.resizeColumn"></div>
        </th>
      </ng-container>
      <th *ngIf="config.additionalActions || config.detailsTemplate || config.collapseAllRows || config.groupRows"
        class="ngx-table__header-cell-additional-actions">
        <div class="ngx-dropdown ngx-active"
          *ngIf="config.additionalActions"
          [class.ngx-active]="menuActive">
          <a class="ngx-btn ngx-btn-link" (click)="menuActive = !menuActive">
            <span class="ngx-icon ngx-icon-menu"></span>
          </a>
          <ul class="ngx-menu ngx-table__table-menu">
            <li class="ngx-menu-item">
              <app-csv-export [data]="data"
                *ngIf="config.exportEnabled">
              </app-csv-export>
            </li>
          </ul>
        </div>
      </th>
    </tr>
    <tr *ngIf="config.searchEnabled && !filtersTemplate"
      class="ngx-table__sort-header">
      <th *ngIf="config.checkboxes"></th>
      <ng-container *ngFor="let column of columns">
        <th>
          <table-header
            *ngIf="getColumnDefinition(column)"
            (update)="onSearch($event)"
            [column]="column">
          </table-header>
        </th>
      </ng-container>
      <th *ngIf="config.additionalActions || config.detailsTemplate"></th>
    </tr>
    <ng-container *ngIf="filtersTemplate">
      <tr>
        <ng-container [ngTemplateOutlet]="filtersTemplate">
        </ng-container>
      </tr>
    </ng-container>
    </thead>
    <tbody *ngIf="data && !isLoading  && !config.draggable">
    <ng-container *ngIf="rowTemplate">
      <ng-container *ngFor="let row of data | sort:sortBy | search:term | global:globalSearchTerm | paginate: { itemsPerPage: limit, currentPage: page, totalItems: count, id: id };
              let rowIndex = index">
        <tr
          (click)="onClick($event, row, '', null, rowIndex)"
          (contextmenu)="onContextMenu($event, row, '', null, rowIndex)"
          (dblclick)="onDoubleClick($event, row, '', null, rowIndex)"
          [class.ngx-table__table-row--selected]="rowIndex == selectedRow && !config.selectCell">
          <ng-container
            [ngTemplateOutlet]="rowTemplate"
            [ngTemplateOutletContext]="{ $implicit: row, index: rowIndex }">
          </ng-container>
          <td *ngIf="config.detailsTemplate">
            <span class="ngx-icon"
              *ngIf="arrowDefinition"
              [ngClass]="isRowCollapsed(rowIndex) ? 'ngx-icon-arrow-down' : 'ngx-icon-arrow-right'"
              (click)="collapseRow(rowIndex)">
            </span>
          </td>
        </tr>
        <tr
          *ngIf="(config.detailsTemplate && selectedDetailsTemplateRowId.has(rowIndex)) || config.collapseAllRows">
          <td [attr.colspan]="columns.length + 1">
            <ng-container
              [ngTemplateOutlet]="detailsTemplate"
              [ngTemplateOutletContext]="{ $implicit: row, index: rowIndex  }">
            </ng-container>
          </td>
        </tr>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!rowTemplate && !config.groupRows">
      <ng-container
        *ngFor="let row of data | sort:sortBy | search:term | global:globalSearchTerm | paginate: { itemsPerPage: limit, currentPage: page, totalItems: count, id: id };
                  let rowIndex = index">
        <tr [class.ngx-table__table-row--selected]="rowIndex == selectedRow && !config.selectCell">
          <td *ngIf="config.checkboxes">
            <label class="ngx-form-checkbox">
              <input type="checkbox"
                id="checkbox-{{rowIndex}}"
                [checked]="isSelected"
                (change)="onCheckboxSelect($event.target.value, row, rowIndex)">
              <i class="ngx-form-icon"></i>
            </label>
          </td>
          <ng-container *ngFor="let column of columns; let colIndex = index">
            <td (click)="onClick($event, row, column['key'], colIndex, rowIndex)"
              (contextmenu)="onContextMenu($event, row, column['key'], colIndex, rowIndex)"
              (dblclick)="onDoubleClick($event, row, column['key'], colIndex, rowIndex)"
              [class.ngx-table__table-col--selected]="colIndex == selectedCol && !config.selectCell"
              [class.ngx-table__table-cell--selected]="colIndex == selectedCol && rowIndex == selectedRow && !config.selectCol && !config.selectRow"
            >
              <div *ngIf="!column.cellTemplate">{{ row | render:column.key }}</div>
              <ng-container
                *ngIf="column.cellTemplate"
                [ngTemplateOutlet]="column.cellTemplate"
                [ngTemplateOutletContext]="{ $implicit: row }">
              </ng-container>
            </td>
          </ng-container>
          <td *ngIf="config.additionalActions || config.detailsTemplate">
            <span class="ngx-icon"
              *ngIf="arrowDefinition"
              [ngClass]="isRowCollapsed(rowIndex) ? 'ngx-icon-arrow-down' : 'ngx-icon-arrow-right'"
              (click)="collapseRow(rowIndex)">
            </span>
          </td>
        </tr>
        <tr
          *ngIf="(config.detailsTemplate && selectedDetailsTemplateRowId.has(rowIndex)) || config.collapseAllRows">
          <td *ngIf="config.checkboxes"></td>
          <td [attr.colspan]="columns.length + 1">
            <ng-container
              [ngTemplateOutlet]="detailsTemplate"
              [ngTemplateOutletContext]="{ $implicit: row, index: rowIndex }">
            </ng-container>
          </td>
        </tr>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!rowTemplate && config.groupRows">
      <ng-container
        *ngFor="let group of grouped; let rowIndex = index">
        <tr>
          <td [attr.colspan]="columns.length">
            <div>{{group[0][groupRowsBy]}} ({{group.length}})</div>
          </td>
          <td>
            <span class="ngx-icon"
              *ngIf="arrowDefinition"
              [ngClass]="isRowCollapsed(rowIndex) ? 'ngx-icon-arrow-down' : 'ngx-icon-arrow-right'"
              (click)="collapseRow(rowIndex)">
            </span>
          </td>
        </tr>
        <ng-container *ngIf="selectedDetailsTemplateRowId.has(rowIndex)">
          <tr *ngFor="let row of group">
            <td *ngFor="let column of columns">
              {{ row | render:column.key }}
              <!-- TODO allow users to add groupRowsTemplateRef -->
            </td>
            <td></td>
          </tr>
        </ng-container>
      </ng-container>
    </ng-container>
    </tbody>
    <tbody *ngIf="data && !config.isLoading && config.draggable"
      class="ngx-dnd-container"
      (drag)="onRowDrag($event)"
      (drop)="onRowDrop($event)"
      ngxDroppable>
    <ng-container *ngIf="!rowTemplate && !config.groupRows">
      <ng-container
        *ngFor="let row of data | sort:sortBy | search:term | global:globalSearchTerm | paginate: { itemsPerPage: limit, currentPage: page, totalItems: count, id: id };
                  let rowIndex = index">
        <tr [class.ngx-table__table-row--selected]="rowIndex == selectedRow && !config.selectCell"
          class="ngx-dnd-item"
          ngxDraggable>
          <td *ngIf="config.checkboxes">
            <label class="ngx-form-checkbox">
              <input type="checkbox"
                id="checkbox-draggable-{{rowIndex}}"
                [checked]="isSelected"
                (change)="onCheckboxSelect($event.target.value, row, rowIndex)">
              <i class="ngx-form-icon"></i>
            </label>
          </td>
          <ng-container *ngFor="let column of columns; let colIndex = index">
            <td (click)="onClick($event, row, column['key'], colIndex, rowIndex)"
              (dblclick)="onDoubleClick($event, row, column['key'], colIndex, rowIndex)"
              [class.ngx-table__table-col--selected]="colIndex == selectedCol && !config.selectCell"
              [class.ngx-table__table-cell--selected]="colIndex == selectedCol && rowIndex == selectedRow && !config.selectCol && !config.selectRow"
            >
              <div>{{ row | render:column.key }}</div>
            </td>
          </ng-container>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
    <tbody *ngIf="!data || (data && data.length < 1)">
    <tr class="ngx-table__body-empty">
      <td [attr.colspan]="columns && columns.length + 1">
        <div class="ngx-table__table-no-results">
          No results
        </div>
      </td>
    </tr>
    </tbody>
    <tbody *ngIf="isLoading">
    <tr class="ngx-table__body-loading">
      <td [attr.colspan]="columns && columns.length + 1">
        <div [style.height]="loadingHeight"
          class="ngx-table__table-loader-wrapper">
          <div class="ngx-table__table-loader"></div>
        </div>
      </td>
    </tr>
    </tbody>
    <tfoot *ngIf="summaryTemplate">
    <tr>
      <ng-container
        [ngTemplateOutlet]="summaryTemplate"
        [ngTemplateOutletContext]="{ total: data.length, limit: limit, page: page  }">
      </ng-container>
    </tr>
    </tfoot>
  </table>
  <pagination
    id="pagination"
    *ngIf="config.paginationEnabled"
    [id]="id"
    [config]="config"
    [pagination]="pagination"
    (updateRange)="onPagination($event)">
  </pagination>
</div>
