* {
  font-family: Verdana, serif;
}

.ngx-table__table-row--selected {
  background: #9cbff9 !important;
}

.ngx-table__table-col--selected {
  background: #9cbff9 !important;
}

.ngx-table__table-cell--selected {
  background: #9cbff9 !important;
}
.ngx-table__table-no-results {
  text-align: center;
}
.ngx-table__table-loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-left: auto;
  margin-right: auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
