<ngx-table
      [configuration]="configuration"
      [data]="data"
      [columns]="columns">
  <ng-template let-row>
    <td class="recruitments__table-row-recruitment">
      <h5 class="color-green font-light">{{row.name}}</h5>
    </td>
    <td class="recruitments__table-row-progressbar">
      <span class="font-small">Days left: {{row.age}}</span>
      <div style="border:solid 1px #ddd;">
        <div style="background:#28a745;height:9px" [style.width]="'50%'"></div>
      </div>
    </td>
    <td>
      <div class="font-small">
        Company: {{row.company}}
      </div>
    </td>
    <td>
      <span class="font-small display-block">Supervisor: </span><br>
      <strong>{{row.name}}</strong></td>
    <td>
      <span class="font-small display-block">Phone:</span>
      <span class="font-small">{{row.phone}}</span>
    </td>
    <td>
      <div class="circle"></div>
    </td>
  </ng-template>
</ngx-table>
