<ngx-table [configuration]="configuration"
           id="table1"
           [summaryTemplate]="summaryTemplateRef"
           [data]="data"
           [columns]="columns">
</ngx-table>
<ng-template #summaryTemplateRef let-total="total" let-limit="limit" let-page="page">
  <th colspan="5">
    Total items: {{ total }} <br>
    limit: {{ limit }} <br>
    page: {{ page }} <br>
  </th>
</ng-template>
<hr>
<ngx-table [configuration]="configuration"
           id="table2"
           [summaryTemplate]="summaryTemplateRef2"
           [data]="data"
           [columns]="columns">
</ngx-table>
<ng-template #summaryTemplateRef2 let-total="total" let-limit="limit" let-page="page">
  <th>
    Total items: {{ total }}
  </th>
  <th>
    Summary: {{ ageSummary }}
  </th>
  <th>
    page: {{ page }}
  </th>
  <th>
  </th>
  <th></th>
</ng-template>
