<h3>Many tables</h3>
<div class="mb-2">
  <a class="btn" href="https://stackblitz.com/github/ssuperczynski/ngx-easy-table?file=app%2Fcomponents%2Fmany-tables%2Fmany-tables.component.ts" target="_blank">
    See code here
  </a>
</div>
<h3>Configuration basic</h3>
<div class="columns">
  <div class="column col-12">
    <ngx-table
      [configuration]="configurationBasic"
      [data]="data"
      [columns]="columns">
    </ngx-table>
  </div>
</div>
<h3>Configuration advanced</h3>
<div class="columns">
  <div class="column col-12">
    <ngx-table
      [configuration]="configurationAdvanced"
      [data]="data"
      [columns]="columns">
    </ngx-table>
  </div>
</div>
