<h3>Persist the state</h3>
<div class="mb-2">
  <a class="btn"
     href="https://stackblitz.com/github/ssuperczynski/ngx-easy-table?file=app%2Fcomponents%2Fpersist-state%2Fpersist-state.component.ts"
     target="_blank">
    See code here
  </a>
</div>
<small>Try to change pagination number, then go to the other position in the menu, and at the end come back here.</small> <br>
<small>You'll notice you are on the same page as before.</small>
<ngx-table [configuration]="configuration"
           id="table"
           [data]="data"
           [columns]="columns">
</ngx-table>
