<div class="container">
	<div class="columns">
		<div class="column col-6">
			<h3>Click event</h3>
		</div>
	</div>
	<div class="columns">
		<div class="column col-6">
			<div class="mb-2">
				<a class="btn" href="https://stackblitz.com/github/ssuperczynski/ngx-easy-table?file=app%2Fcomponents%2Fclick-event%2Fclick-event.component.ts"
				 target="_blank">
					See code here
				</a>
			</div>
		</div>
	</div>
	<div class="columns">
		<div class="column col-12">
			<small>Click cell to submit event to parent component</small>
		</div>
	</div>
	<div class="columns">
		<div class="column col-12">
      {{clicked}}
		</div>
	</div>
	<div class="columns">
		<div class="column col-12">
			<ngx-table [configuration]="configuration" [data]="data" [columns]="columns" (event)="eventEmitted($event)">
			</ngx-table>
		</div>
	</div>
</div>
