<div class="columns">
  <div class="column col-12">
    <h3>Installation</h3>
    <h5>app.module.ts</h5>
    <pre><code [highlight]="appModuleCode"></code></pre>
    <h5>app.component.html</h5>
    <pre><code [highlight]="appComponentHtmlCode"></code></pre>
    <h5>app.component.ts</h5>
    <pre><code [highlight]="appComponentTsCode"></code></pre>
    <h5>config-service.ts</h5>
    <pre><code [highlight]="appComponentServiceCode"></code></pre>
    <h5>angular.json</h5>
    <pre><code [highlight]="angularJsonCode"></code></pre>
    <h5>src/styles.scss</h5>
    <pre><code [highlight]="styleScssCode"></code></pre>
    <p>
      Table from version 9.1 has Montserrat as a default font. Previously it was Lato font. <br>
      If you would like to change table font, add new font to the package.json, include it in angular.json and
      define in your style.scss:
    </p>
    <pre><code [highlight]="tableFontCode"></code></pre>
  </div>
</div>
