<h3>Pagination range</h3>
<div class="mb-2">
  <a class="btn"
     href="https://stackblitz.com/github/ssuperczynski/ngx-easy-table?file=app%2Fcomponents%2Fpagination-range%2Fpagination-range.component.ts"
     target="_blank">
    See code here
  </a>
  <br>
  <small>By default <strong>paginationMaxSize</strong> is set to 7.  </small>
  <br>
  <small>When you would like to change this amount for example because you work on a mobile device, change it to 3.</small>
</div>
<ngx-table [configuration]="configuration"
           id="table"
           [data]="data"
           [columns]="columns">
</ngx-table>
