<small>There are three options to change styles of the table:<br>
  <ul>
    <li>First - copy style.css, add appropriate changes and add new path to the angular.json.</li>
    <li>Second - include style.scss and override variables, for example <strong>$primary-color</strong>.</li>
    <li>Third - override classes and ids of the tables - see styles.component.css.</li>
  </ul>
</small>
<div class="columns">
  <div class="column col-12">
    <ngx-table
      [configuration]="configuration"
      [data]="data"
      [columns]="columns">
    </ngx-table>
  </div>
</div>
