:host /deep/ .ngx-table__header-title {
  color: deeppink;
}
:host /deep/ .ngx-pagination-range-dropdown-button {
  color: deeppink;
}
:host /deep/ #table > tbody > tr > td {
  color: hotpink;
}
:host /deep/ #pagination-controls > pagination-template > ul > li.current > span {
  color: hotpink;
}
:host /deep/ #pagination-controls > pagination-template > ul > li > a > span {
  color: hotpink;
}
