<h3>Styles</h3>
<small>There are three options to change styles of the table:<br>
  <ul>
    <li>First - copy style.css, add appropriate changes and add new path to the angular.json.</li>
    <li>Second - include style.scss and override variables, for example <strong>$primary-color</strong>.</li>
    <li>Third - override classes and ids of the tables - see styles.component.css.</li>
  </ul>
</small>
<div class="mb-2 mt-2">
  <a class="btn" href="https://stackblitz.com/github/ssuperczynski/ngx-easy-table?file=app%2Fcomponents%2Fmany-tables%2Fmany-tables.component.ts" target="_blank">
    See code here
  </a>
</div>
<div class="columns">
  <div class="column col-12">
    <ngx-table
      [configuration]="configuration"
      [data]="data"
      [columns]="columns">
    </ngx-table>
  </div>
</div>
