.pink {
  background-color: pink;
}
.blue {
  background-color: #4fa7f5;
}
.green {
  background-color: #53e027;
}
.yellow {
  background-color: yellow;
}
.gray {
  background-color: gray;
}
.sticky-column {
  left: 212px !important;
}
