/*! Spectre.css Icons v0.4.5 | MIT License | github.com/picturepan2/spectre */
.ngx-icon {
  box-sizing: border-box;
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  height: 1em;
  position: relative;
  text-indent: -9999px;
  vertical-align: middle;
  width: 1em;
}

.ngx-icon::before,
.ngx-icon::after {
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ngx-icon.ngx-icon-2x {
  font-size: 1.6rem;
}

.ngx-icon.ngx-icon-3x {
  font-size: 2.4rem;
}

.ngx-icon.ngx-icon-4x {
  font-size: 3.2rem;
}

.ngx-accordion .ngx-icon,
.ngx-btn .ngx-icon,
.ngx-toast .ngx-icon,
.ngx-menu .ngx-icon {
  vertical-align: -10%;
}

.ngx-btn-lg .ngx-icon {
  vertical-align: -15%;
}

.ngx-icon-arrow-down::before,
.ngx-icon-arrow-left::before,
.ngx-icon-arrow-right::before,
.ngx-icon-arrow-up::before,
.ngx-icon-downward::before,
.ngx-icon-back::before,
.ngx-icon-forward::before,
.ngx-icon-upward::before {
  border: .1rem solid currentColor;
  border-bottom: 0;
  border-right: 0;
  content: "";
  height: .65em;
  width: .65em;
}

.ngx-icon-arrow-down::before {
  transform: translate(-50%, -75%) rotate(225deg);
}

.ngx-icon-arrow-left::before {
  transform: translate(-25%, -50%) rotate(-45deg);
}

.ngx-icon-arrow-right::before {
  transform: translate(-75%, -50%) rotate(135deg);
}

.ngx-icon-arrow-up::before {
  transform: translate(-50%, -25%) rotate(45deg);
}

.ngx-icon-back::after,
.ngx-icon-forward::after {
  background: currentColor;
  content: "";
  height: .1rem;
  width: .8em;
}

.ngx-icon-downward::after,
.ngx-icon-upward::after {
  background: currentColor;
  content: "";
  height: .8em;
  width: .1rem;
}

.ngx-icon-back::after {
  left: 55%;
}

.ngx-icon-back::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.ngx-icon-downward::after {
  top: 45%;
}

.ngx-icon-downward::before {
  transform: translate(-50%, -50%) rotate(-135deg);
}

.ngx-icon-forward::after {
  left: 45%;
}

.ngx-icon-forward::before {
  transform: translate(-50%, -50%) rotate(135deg);
}

.ngx-icon-upward::after {
  top: 55%;
}

.ngx-icon-upward::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.ngx-icon-caret::before {
  border-left: .3em solid transparent;
  border-right: .3em solid transparent;
  border-top: .3em solid currentColor;
  content: "";
  height: 0;
  transform: translate(-50%, -25%);
  width: 0;
}

.ngx-icon-menu::before {
  background: currentColor;
  box-shadow: 0 -.35em, 0 .35em;
  content: "";
  height: .1rem;
  width: 100%;
}

.ngx-icon-apps::before {
  background: currentColor;
  box-shadow: -.35em -.35em, -.35em 0, -.35em .35em, 0 -.35em, 0 .35em, .35em -.35em, .35em 0, .35em .35em;
  content: "";
  height: 3px;
  width: 3px;
}

.ngx-icon-resize-horiz::before,
.ngx-icon-resize-horiz::after,
.ngx-icon-resize-vert::before,
.ngx-icon-resize-vert::after {
  border: .1rem solid currentColor;
  border-bottom: 0;
  border-right: 0;
  content: "";
  height: .45em;
  width: .45em;
}

.ngx-icon-resize-horiz::before,
.ngx-icon-resize-vert::before {
  transform: translate(-50%, -90%) rotate(45deg);
}

.ngx-icon-resize-horiz::after,
.ngx-icon-resize-vert::after {
  transform: translate(-50%, -10%) rotate(225deg);
}

.ngx-icon-resize-horiz::before {
  transform: translate(-90%, -50%) rotate(-45deg);
}

.ngx-icon-resize-horiz::after {
  transform: translate(-10%, -50%) rotate(135deg);
}

.ngx-icon-more-horiz::before,
.ngx-icon-more-vert::before {
  background: currentColor;
  border-radius: 50%;
  box-shadow: -.4em 0, .4em 0;
  content: "";
  height: 3px;
  width: 3px;
}

.ngx-icon-more-vert::before {
  box-shadow: 0 -.4em, 0 .4em;
}

.ngx-icon-plus::before,
.ngx-icon-minus::before,
.ngx-icon-cross::before {
  background: currentColor;
  content: "";
  height: .1rem;
  width: 100%;
}

.ngx-icon-plus::after,
.ngx-icon-cross::after {
  background: currentColor;
  content: "";
  height: 100%;
  width: .1rem;
}

.ngx-icon-cross::before {
  width: 100%;
}

.ngx-icon-cross::after {
  height: 100%;
}

.ngx-icon-cross::before,
.ngx-icon-cross::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.ngx-icon-check::before {
  border: .1rem solid currentColor;
  border-right: 0;
  border-top: 0;
  content: "";
  height: .5em;
  transform: translate(-50%, -75%) rotate(-45deg); 
  width: .9em;
}

.ngx-icon-stop {
  border: .1rem solid currentColor;
  border-radius: 50%;
}

.ngx-icon-stop::before {
  background: currentColor;
  content: "";
  height: .1rem;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 1em;
}

.ngx-icon-shutdown {
  border: .1rem solid currentColor;
  border-radius: 50%;
  border-top-color: transparent;
}

.ngx-icon-shutdown::before {
  background: currentColor;
  content: "";
  height: .5em;
  top: .1em;
  width: .1rem;
}

.ngx-icon-refresh::before {
  border: .1rem solid currentColor;
  border-radius: 50%;
  border-right-color: transparent;
  content: "";
  height: 1em;
  width: 1em;
}

.ngx-icon-refresh::after {
  border: .2em solid currentColor;
  border-left-color: transparent;
  border-top-color: transparent;
  content: "";
  height: 0;
  left: 80%;
  top: 20%;
  width: 0;
}

.ngx-icon-search::before {
  border: .1rem solid currentColor;
  border-radius: 50%;
  content: "";
  height: .75em;
  left: 5%;
  top: 5%;
  transform: translate(0, 0) rotate(45deg);
  width: .75em;
}

.ngx-icon-search::after {
  background: currentColor;
  content: "";
  height: .1rem;
  left: 80%;
  top: 80%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: .4em;
}

.ngx-icon-edit::before {
  border: .1rem solid currentColor;
  content: "";
  height: .4em;
  transform: translate(-40%, -60%) rotate(-45deg);
  width: .85em;
}

.ngx-icon-edit::after {
  border: .15em solid currentColor;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  height: 0;
  left: 5%;
  top: 95%;
  transform: translate(0, -100%);
  width: 0;
}

.ngx-icon-delete::before {
  border: .1rem solid currentColor;
  border-bottom-left-radius: .1rem;
  border-bottom-right-radius: .1rem;
  border-top: 0;
  content: "";
  height: .75em;
  top: 60%;
  width: .75em;
}

.ngx-icon-delete::after {
  background: currentColor;
  box-shadow: -.25em .2em, .25em .2em;
  content: "";
  height: .1rem;
  top: .05rem;
  width: .5em;
}

.ngx-icon-share {
  border: .1rem solid currentColor;
  border-radius: .1rem;
  border-right: 0;
  border-top: 0;
}

.ngx-icon-share::before {
  border: .1rem solid currentColor;
  border-left: 0;
  border-top: 0;
  content: "";
  height: .4em;
  left: 100%;
  top: .25em;
  transform: translate(-125%, -50%) rotate(-45deg);
  width: .4em;
}

.ngx-icon-share::after {
  border: .1rem solid currentColor;
  border-bottom: 0;
  border-radius: 75% 0;
  border-right: 0;
  content: "";
  height: .5em;
  width: .6em;
}

.ngx-icon-flag::before {
  background: currentColor;
  content: "";
  height: 1em;
  left: 15%;
  width: .1rem;
}

.ngx-icon-flag::after {
  border: .1rem solid currentColor;
  border-bottom-right-radius: .1rem;
  border-left: 0;
  border-top-right-radius: .1rem;
  content: "";
  height: .65em;
  left: 60%;
  top: 35%;
  width: .8em;
}

.ngx-icon-bookmark::before {
  border: .1rem solid currentColor;
  border-bottom: 0;
  border-top-left-radius: .1rem;
  border-top-right-radius: .1rem;
  content: "";
  height: .9em;
  width: .8em;
}

.ngx-icon-bookmark::after {
  border: .1rem solid currentColor;
  border-bottom: 0;
  border-left: 0;
  border-radius: .1rem;
  content: "";
  height: .5em;
  transform: translate(-50%, 35%) rotate(-45deg) skew(15deg, 15deg);
  width: .5em;
}

.ngx-icon-download,
.ngx-icon-upload {
  border-bottom: .1rem solid currentColor;
}

.ngx-icon-download::before,
.ngx-icon-upload::before {
  border: .1rem solid currentColor;
  border-bottom: 0;
  border-right: 0;
  content: "";
  height: .5em;
  transform: translate(-50%, -60%) rotate(-135deg); 
  width: .5em;
}

.ngx-icon-download::after,
.ngx-icon-upload::after {
  background: currentColor;
  content: "";
  height: .6em;
  top: 40%;
  width: .1rem;
}

.ngx-icon-upload::before {
  transform: translate(-50%, -60%) rotate(45deg);
}

.ngx-icon-upload::after {
  top: 50%;
}