<h3>Template</h3>
<div class="mb-2">
  <a class="btn"
     href="https://stackblitz.com/github/ssuperczynski/ngx-easy-table?file=app%2Fcomponents%2Ftemplate%2Ftemplate.component.ts"
     target="_blank">
    See code here
  </a>
</div>
<ngx-table
  [configuration]="configuration"
  [data]="data"
  [toggleRowIndex]="toggleRowIndex"
  (event)="eventEmitted($event)"
  [columns]="columns">
  <ng-template let-row let-index="index">
    <td>
      <h5>{{row.name}}</h5>
    </td>
    <td>
      <span>Age: {{row.age}}</span>
      <div class="bar bar-sm">
        <div class="bar-item" role="progressbar" [style.width]="row.age + '%'" aria-valuenow="row.age" aria-valuemin="0"
             aria-valuemax="70"></div>
      </div>
    </td>
    <td>
      <div>
        Company: {{row.company}}
        <small class="d-block">{{row.date | date}}</small>
      </div>
    </td>
    <td>
      <span>Supervisor: </span><br>
      <strong>{{row.name}}</strong>
    </td>
    <td>
      <span>Phone:</span>
      <span>{{row.phone}}</span>
    </td>
    <td>
      <div>{{row.address.street}}</div>
    </td>
    <td>
      <button class="btn btn-primary" (click)="onRowClickEvent($event, index)"><i class="icon icon-arrow-left"></i> Expand
      </button>
    </td>
  </ng-template>

</ngx-table>
